.login {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  
    /* box-shadow: 5px 5px 25px 5px gray; */
  }
  .loginDiv {
    width: 50%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 25px 5px gray;
    padding: 30px;
    border-radius: 30px;
    margin: 30px auto;
    /* height: 420px; */
    /* background-color: rgb(198, 255, 236); */
  }
  @media only screen and (max-width: 600px) {
    .loginDiv {
      width: 70%;
    }
  }
  .logo {
    width: 100px;
  }
  .loginButton {
    width: 170px;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 5px auto !important;
    border-radius: 999px !important;
    /* margin-bottom: -100px; */
  }